div.icaoAutocompleteContainer {
  position: absolute;
  width: 100%;
  border: var(--dark-grey) 1px solid;
  background: var(--light-grey);
  display: none;
  z-index: 100;
}

div.icaoAutocompleteContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

div.icaoAutocompleteContainer li {
  list-style-type: none;
  margin: 0;
  padding: 18px 20px;
  width: calc(100% - 40px);
  font-weight: 600;
  cursor: pointer;
}

div.icaoAutocompleteContainer li:focus,
div.icaoAutocompleteContainer li:hover {
  background: var(--grey);
  display: block;
}

div.icaoAutocompleteContainer li:not(:last-child) {
  border-bottom: var(--dark-grey) 1px solid;
}
