:root {
  --background: #f1f1f1;
  --contrast-background: #002a3a;
  --text: #002a3a;
  --dark-text: #fff;
  --main-accent-light: #ff0f2f;
  --main-accent: #d81939;
  --main-accent-darker: #c11633;
  --main-accent-darkest: #a0131f;
  --light-grey: #e3e3e3;
  --grey: #c3c3c3;
  --dark-grey: #838383;
  --darkest-grey: #555;
  --short-transition: cubic-bezier(0.4, 0, 0.2, 1) 100ms;
  --medium-transition: cubic-bezier(0.4, 0, 0.2, 1) 175ms;
  --longer-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

#welcomeFrame {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000000000;
}

* {
  user-select: none;
  font-family: "Hanken Grotesk", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

*:focus {
  outline: none;
}

svg {
  fill: currentColor;
}

html,
body {
  background: var(--background);
  color: var(--text);
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  text-align: center;
  font-weight: 900;
}

nav {
  position: fixed;
  top: 30px;
  left: 0;
  bottom: 0;
  width: 96px;
  background: var(--contrast-background);
  color: var(--dark-text);
  z-index: 100;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

nav > ul > li {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  background: inherit;
  height: 64px;
  width: 100%;
}

nav > ul > li > span.tab-text {
  -webkit-font-smoothing: antialiased;
  transform: translateX(-8px);
  position: absolute;
  top: -5px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 36.5px 0;
  transition: transform var(--longer-transition),
    box-shadow var(--longer-transition);
  font-size: 1.2em;
  padding: 16px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: var(--contrast-background);
  z-index: -1;
  box-shadow: 0 0 45px 5px #0000;
}

nav > ul > li > span.tab-text:after {
  position: absolute;
  top: 0;
  right: -12px;
  bottom: 0;
  width: 9px;
  background: var(--main-accent);
  content: "";
}

nav > ul > li:hover > span.tab-text {
  transform: translateX(calc(100% - 4px));
  box-shadow: 0 0 45px 5px #000f;
}

nav > ul > li > .tab-icon {
  width: 40px;
  margin: auto;
  display: block;
  display: block;
  color: var(--main-accent-darkest);
  background: inherit;
  z-index: 1;
  transition: color var(--short-transition);
}

#modal-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--background);
  z-index: 99999;
}

main {
  position: relative;
  margin-left: 96px;
  padding: 8px;
  right: 0;
  height: min-content;
  min-height: calc(100vh - 16px - 30px);
}

main > section {
  height: 100%;
  width: 100%;
}

#FlightSetup #FlightDetails {
  border: 1px solid var(--grey);
  background: var(--light-grey);
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.6fr;
  grid-column-gap: 12px;
  grid-row-gap: 16px;
  grid-template-areas:
    "top-left  top-left  top-left  top-right  top-right  top-right"
    "middle-left   middle-left   middle-right   middle-right   middle-right   middle-right"
    "button-left   button-left   button-left   button-right   button-right   button-right";
  width: 90%;
  max-width: 750px;
  margin: auto;
}

.icaoHint {
  margin: 0;
  text-align: left;
  margin-top: 4px;
  font-size: 14px;
  height: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 90%;
}

img.vnasLogo {
  width: 85%;
  margin: calc(8px + 5vw) auto 0 auto;
  display: block;
  max-width: 900px;
  transform: translateX(12px);
}

nav > ul > li[active] > .tab-icon {
  color: var(--main-accent-light);
}