#Settings {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  margin: 16px auto;
  padding: 0 32px;
  width: calc(100% - 48px - 64px);
  height: calc(100vh - 78px);
  max-width: 700px;
}

#Settings > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 5px;
}

.hasTooltip {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-position: under;
  text-decoration-skip-ink: none;
  cursor: help;
}

#resetSettingsBtn {
  position: fixed;
  bottom: 24px;
  z-index: 5;
  max-width: 700px;
  width: 50%;
  align-self: center;
}
