#Settings {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  margin: 16px auto;
  padding: 0 32px;
  width: calc(100% - 48px - 64px);
  height: calc(100vh - 150px);
  overflow: auto;
  max-width: 700px;
}

#Settings .os-content > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 5px;
}

.hasTooltip {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-position: under;
  text-decoration-skip-ink: none;
  cursor: help;
}

#Settings #resetSettingsBtnContainer {
  display: block;
  position: fixed;
  bottom: 24px;
  z-index: 5;
  left: 96px;
  right: 0;
}

#resetSettingsBtn {
  display: block;
  max-width: 700px;
  width: 50%;
  margin: auto;
}
